body{
    background-color:rgb(6, 130, 1);
    color: white;
    font-family: "Roboto", sans-serif;
}
header{
    font-size: 40px;
    padding-left: 30px;
    background-color: rgb(246, 246, 246);
}
.chamada{
    background: #25470a;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    
}

.chamada-texto{
    margin-right: 100;

    }
    img{
        height: 200px;
    }

.categoria{
    padding-left: 100px;
    padding-right: 100px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
